
<script type="text/javascript" src="../public/js/chapters.js" defer></script>
<script type="text/javascript" src="../public/js/publish.js" defer></script>
<link href="../public/css/chapters.css" rel="stylesheet" type="text/css">



<style>
    #form-container {
        width: 500px;
    }

    .row {
        margin-top: 15px;
    }
    .row.form-group {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn {
        margin-left: 15px;
    }

    .change-link {
        background-color: #000;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: 0;
        color: #fff;
        opacity: 0.8;
        padding: 4px;
        position: absolute;
        text-align: center;
        width: 150px;
    }
    .change-link:hover {
        color: #fff;
        text-decoration: none;
    }

    img {
        width: 150px;
    }

    #editor-container {
        height: 130px;
    }
</style>
<div id = "banner1">
    <h1 id = "webtitle1">Forever Read</h1>
    <p id = "webdes1">Write, Read, Communicate and Grow, Whenever You Like</p>

    <nav class="navbar navbar-default" id = "nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--clicking 'ForeverRead' go back to home page-->
                <a class="navbar-brand" href="/">Forever Read</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <!--rank method to discussed-->
                    <!--<li><a href="#" onclick="sortBySubscribedNumber()">Rank</a></li>-->
                    <li><a href="/service/showranking">Ranking</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/service/searchBookByGenre/Comedy">Comedy</a></li>
                            <li><a href="/service/searchBookByGenre/Crime">Crime</a></li>
                            <li><a href="/service/searchBookByGenre/Detective">Detective</a></li>
                            <li><a href="/service/searchBookByGenre/Fantasy">Fantasy</a></li>
                            <li><a href="/service/searchBookByGenre/Fiction">Fiction</a></li>
                            <li><a href="/service/searchBookByGenre/Horror">Horror</a></li>
                            <li><a href="/service/searchBookByGenre/Other">Other</a></li>
                            <li><a href="/service/searchBookByGenre/Poetry">Poetry</a></li>
                            <li><a href="/service/searchBookByGenre/Prose">Prose</a></li>
                            <li><a href="/service/searchBookByGenre/Romance">Romance</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/service/searchBookName" method="post">
                    <div class="form-group">
                        <input type="text" name="bookNameSearched" class="form-control typeahead" placeholder="Search bookname">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <% if (user != null) {%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%=user.username%> <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a id="profile-redirect-url" href="/profile" >
                                    Profile
                                </a></li>
                            <% if (user.role == "writer") {%>
                            <li><a id='publish' href='/publish'>Publish</a></li>
                            <%}%>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log Out</a></li>

                        </ul>
                    </li>
                    <%}else {%>
                    <li><a href="/signin">
                            Sign in or Sign up
                        </a></li>
                    <%}%>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>



<div id="container">
    <span id = "navline">
        <a href="/">HomePage</a>
        <p id = "book-title"> > <%=book.bookname%> </p>
    </span>

    <br></br>
    <p hidden id="parse-book-id"><%=bookID%></p>

    <% if (user != null) { %>

        <p hidden id="parse-user"><%= (user.role).toString() %></p>

        <p hidden id="parse-user-id"><%= (user._id).toString() %></p>

    <% } %>
    <div id = "all">
    <div  class="container">
        <div id = "book_actions" class="row">
            <div id ="book_info" class="col-md-8">
                <h3>Title: <%=book.bookname%></h3>
                <% if (user!=null) {%>
                <p>Author: <a href=<%="/profile/"+book.writerID.toString()%> ><%=book.writerName%></a></p>
                <%} else{%>
                <p>Author: <%=book.writerName%></p>

                <%}%>
                <p hidden id="parse-author-id"><%=book.writerID%></p>
                <p>Genre: <% if(book.bookgenre!=null){%>
                    <%= book.bookgenre.toString()%>
                    <% } else {%> N/A  <% }%></p>
                <p>Book Description: <%=book.bookdes%></p>
            </div>
            <div id = "actions" class="col-md-4">
                <h4> Now You Can </h4>
                <% if (user!=null){%>
                <!--testing -->
                    <% var isSubscribed =false %>
                    <% if (user.subscriptions!=null){%>
                        <% for(var i = 0; i < user.subscriptions.length; i++) {%>
                            <% if (bookID==user.subscriptions[i].bookId){%>
                                <% isSubscribed=true}}}%>
                <!-- use jQuery to subscribe or unsubscribe-->
                    <% if (isSubscribed==true){%>
                <button id='unsubscribe-book' class='btn btn-default btn-md'>Unsubscribe this book</button><p></p>
                    <%}else{%>
                <button id='subscribe-book' class='btn btn-default btn-md'>Subscribe this book</button><p></p>
                    <%}%>

                    <%if (user._id == book.writerID) {%>
                    <button type="button" id = "editbook_btn" name = "book_btn" class='btn btn-default btn-md' data-toggle="modal" data-target="#bookinfo_modal"> Edit Book Information </button><p></p>

                    <button id='upload-chapter' class='btn btn-default btn-md'>Upload New Chapter</button><p></p>
                    <%}%>

                    <%if (user.role == "admin" || user.role == "writer" && user._id == book.writerID) {%>
                    <button type="button" id = "delete-book" class='btn btn-default btn-md' onclick="deletebook()"> Delete this book </button>
                    <%}%>
                <%}else{%>
                <br>
                <h4>Sign in to access FULL features</h4><h4> such as subscribe and edit!</h4>
                <%}%>



            </div>
        </div>
    </div>
<hr>
    <div id = "chapters">
        <div>
            <h3>Chapters List</h3>

        <table id='table-for-chapter-menu' class="table">

            <tbody>
            <!-- problem here, book.chapters.length may be 0-->
            <% if (book.chapters!=null) {%>
            <% for(var i = 0; i < book.chapters.length; i+=3) {%>
            <% var bookID= book._id.toString() %>
                <tr>
                    <td>
                        <p>Ch.<%=i+1%></p>
                        <% var chapterID= book.chapters[i].toString() %>
                        <p hidden id="parse-book-id"><%=bookID%></p>
                        <a href= <%= "/books/"+bookID +'/chapter/'+i %>> <%= book.chapters[i].title%></a>
                    </td>
                    <%if (i+1 < book.chapters.length){%>
                    <td>
                        <p>Ch.<%=i+2%></p>
                        <% var chapterID= book.chapters[i+1].toString() %>
                        <p hidden id="parse-book-id"><%=bookID%></p>
                        <a href= <%= "/books/"+bookID +'/chapter/'+(i+1) %>> <%= book.chapters[i+1].title%></a>
                    </td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                    <%if (i+2 < book.chapters.length){%>
                    <td>
                        <p>Ch.<%=i+3%></p>
                        <% var chapterID= book.chapters[i+2].toString() %>
                        <p hidden id="parse-book-id"><%=bookID%></p>
                        <a href= <%= "/books/"+bookID +'/chapter/'+(i+2) %>> <%= book.chapters[i+2].title%></a>
                    </td>
                    <%}else{%>
                    <td></td>
                    <%}%>
                </tr>
            <% }} %>
            </tbody>
        </table>
        </div>
    </div>
    <!--Edit Book Information Modal-->

        <div id = "bookinfo_modal" name = "book_modal" class = "modal fade">
            <form id="edit-book-info" action="/service" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div id="non-empty-alert" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-hide="alert">&times;</button>
                            Some field can not be left empty
                        </div>
                    </div>
                    <!--<span class="close" id="close">x</span>-->
                    <h2>Edit Book Information</h2>
                </div>
                <div class="modal-body">
                    <label>Book Name: </label>
                    <input type="text" class="publish-non-empty" id="book-name" type="text" name="bookname" value="<%= book.bookname%>" />
                    <br></br>

                    <label>Book Description: </label>
                    <textarea id="bookDescription" type="text" name="bookDescription"><%= book.bookdes%></textarea>
                    <br></br>

                    <label>Book Genre: </label>

                    <%if(book.bookgenre != null) {%>
                        <input id = "bg_fiction" type = "checkbox" name = "bookGenre" value="Fiction" <%if(book.bookgenre.indexOf("Fiction")>= 0){%> checked <%}%> />Fiction
                        <input id = "bg_romance" type = "checkbox" name = "bookGenre" value="Romance" <%if(book.bookgenre.indexOf("Romance")>= 0){%> checked <%}%> />Romance
                        <input id = "bg_horror" type = "checkbox" name = "bookGenre" value="Horror"  <%if(book.bookgenre.indexOf("Horror")>= 0){%> checked <%}%> />Horror
                        <input id = "bg_detective" type = "checkbox" name = "bookGenre" value="Detective"  <%if(book.bookgenre.indexOf("Detective")>= 0){%> checked <%}%> />Detective
                        <input id = "bg_fantasy" type = "checkbox" name = "bookGenre" value="Fantasy"  <%if(book.bookgenre.indexOf("Fantasy")>= 0){%> checked <%}%> />Fantasy
                        <input id = "bg_poetry" type = "checkbox" name = "bookGenre" value="Poetry"   <%if(book.bookgenre.indexOf("Poetry")>= 0){%> checked <%}%> />Poetry
                        <input id = "bg_prose" type = "checkbox" name = "bookGenre" value="Prose"  <%if(book.bookgenre.indexOf("Prose")>= 0){%> checked <%}%> />Prose
                        <input id = "bg_crime" type = "checkbox" name = "bookGenre" value="Crime"  <%if(book.bookgenre.indexOf("Crime")>= 0){%> checked <%}%> />Crime
                        <input id = "bg_comedy" type = "checkbox" name = "bookGenre" value="Comedy"  <%if(book.bookgenre.indexOf("Comedy")>= 0){%> checked <%}%> />Comedy
                        <input id = "bg_other" type = "checkbox" name = "bookGenre" value="Other"  <%if(book.bookgenre.indexOf("Other")>= 0){%> checked <%}%> />Other
                    <%} else {%>
                        <input id = "bg_fiction" type = "checkbox" name = "bookGenre" value="Fiction"  />Fiction
                        <input id = "bg_romance" type = "checkbox" name = "bookGenre" value="Romance" />Romance
                        <input id = "bg_horror" type = "checkbox" name = "bookGenre" value="Horror"  />Horror
                        <input id = "bg_detective" type = "checkbox" name = "bookGenre" value="Detective" />Detective
                        <input id = "bg_fantasy" type = "checkbox" name = "bookGenre" value="Fantasy"   />Fantasy
                        <input id = "bg_poetry" type = "checkbox" name = "bookGenre" value="Poetry"  />Poetry
                        <input id = "bg_prose" type = "checkbox" name = "bookGenre" value="Prose" />Prose
                        <input id = "bg_crime" type = "checkbox" name = "bookGenre" value="Crime"  />Crime
                        <input id = "bg_comedy" type = "checkbox" name = "bookGenre" value="Comedy"  />Comedy
                        <input id = "bg_other" type = "checkbox" name = "bookGenre" value="Other" />Other
                    <%}%>
                </div>
                <div class="modal-footer">
                    <input type = "submit" id = "save_bookchange" onclick="return empty()" class = 'btn btn-default btn-sm' value="Save Changes"/>
                    <button type="button" id = "cancel_bookchange" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            </form>
        </div>

        <hr>
    <!--</form>-->
    <%if (book.comments != null) {%>
    <div id="comments" >
        <h3>Reader Comments</h3><br>
        <table id = "commenttable" class="table">
            <tbody>
                <%for (var i = 0; i < book.comments.length; i++) {%>
                <thread>
                    <th>
                </thread>
                    <tr>
                        <td><p><%=book.comments[i].commenter%></p>
                            <p><%=(JSON.parse(book.comments[i].comment)).ops[0].insert%></p>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <%}%>
    <div id="form-container" class="container">
        <form id="comment-form" action="/service/postComment" method="post">
            <input type="text" hidden name="commentContent">
            <div class="row form-group">
                <label for="about">Leave a comment for this book!</label>
                <input type="hidden" name="bookid" value="<%=bookID%>"/>
                <input type="hidden" name="username" value="<%=user.username%>">
                <div id="editor-container">

                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit">Publish your comment</button>
            </div>
        </form>
    </div>

</div>
</div>

<div id = "rights">
    <p>Copyright © 2017 Naughty Blue Cat @ Columbia    All Rights Reserved</p>
</div>


