<div id="container">
    This is the chapter page.
    <p hidden id="parse-book-id"><%=bookID%></p>
    <p hidden id="parse-user"><%=user%>></p>
    <p><%=book.bookname%></p>
    <p>Author: <%=book.writerName%></p>
    <% if (user!=null){%>
    <p>Welcome to book <%=book.bookname%>, <%=user.username%></p>
    <!--testing -->
    <% var isSubscribed =false %>
    <% if (user.subscriptions!=null){%>
    <% for(var i = 0; i < user.subscriptions.length; i++) {%>
    <%=user.subscriptions[i].bookId%>
    <% if (bookID==user.subscriptions[i].bookId){%>
    <% isSubscribed=true}}}%>
    <!-- use jQuery to subscribe or unsubscribe-->
    <p>!!!<%=isSubscribed%></p>
    <% if (isSubscribed==true){%>
    <a id='unsubscribe-book' href='/' class='btn btn-default btn-md' role='button'>Unsubscribe this book</a>
    <%}else{%>
    <a id='subscribe-book' href='/' class='btn btn-default btn-md' role='button'>Subscribe this book</a><br>
    <%}%>
    <% if (user.role=="writer"&&user._id==book.writerID){%>
    <a id='upload-chapter' href='/' class='btn btn-default btn-md' role='button'>Upload New Chapter</a><%}%>
    <%}%>
    <table id='table-for-chapter-menu' class="100%">
        <thead>
        <tr>
            <th>Chapter Index</th>
            <th>Chapter Title</th>
        </tr>
        </thead>

        <tbody>
        <!-- problem here, book.chapters.length may be 0-->
        <% if (book.chapters!=null) {%>
        <% for(var i = 0; i < book.chapters.length; i++) {%>
        <% var bookID= book._id.toString() %>
        <tr>
            <th>
                <p><%=i%></p>
            </th>
            <th>
                <% var chapterID= book.chapters[i].toString() %>
                <p hidden id="parse-book-id"><%=bookID%></p>
                <a href= <%= "/books/"+bookID +'/'+i %>> <%= book.chapters[i].title%></a></th>
        </tr>
        <% }} %>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="../public/js/chapters.js" defer></script>