<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="container">
    <% if (user != null) { %>
    <p hidden id="parse-user"><%= (user.role).toString() %></p>
    <% } %>
    <!--nav bar do not render right now-->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
      &lt;!&ndash;The following code is for the nav-bar&ndash;&gt;
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-text">
          <li>
              <% if (user != null) { %>
            <p class="navbar-text">
              <strong>Hi,</strong>

                <%= user.username %>, You are a <%= user.role %>
            </p>

          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/logout">Log Out</a>
          </li>
            <% } else { %>
          <a href="/signin">Sign In</a>
          </li>
            <% } %>
        </ul>
      </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;
  </nav>-->
    <div id="book-list"></div>

    <% if (user != null) { %>
    <div class="jumbotron">
        <p>Welcome, <%= user.username %>, you are logged in as a <%= user.role %></p>
        <p>You can <a href="/logout">Log Out</a> here.</p>

    </div>
    <div id="publish-page"></div>
    <div id="profile">
        <a id="profile-redirect-url" href="/profile" class="btn btn-primary btn-lg" role="button">
            <span class="glyphicon glyphicon-user"></span>
            Profile Page
        </a>
    </div>
    <p hidden id="parse-user-id"><%= (user._id) %></p>

    <!--Don't implement now, maybe useful for later features.
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: <%= user.username %></p>

    </div>
  </div>-->

    <% } else { %>
    <div class="jumbotron">
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Click here to sign in or register an account!
            </a>
        </p>
    </div>

    <% } %>


    <!-- this div may be changed to render only for registered user (writer, reader, admin) later-->
    <div id="render-for-all">
        <h1>Welcome to Forever Read</h1>
        <p>You can view books here!</p>
        <table class="100%">
            <thead>
            <tr>
                <th>Book Name</th>
                <th>Writer Name</th>
            </tr>
            </thead>

            <% if  (user!=null) {%>
            <tbody>
            <% for(var i = 0; i < bookList.length; i++) {%>
            <tr>
                <th>
                    <% var bookID= bookIDs[i].toString() %>
                    <a href= <%= "/books/"+bookIDs[i].toString()+"/"+user._id+"/"+user.role %>> <%= bookList[i].bookname.toString() %></a>
                </th>
                <th><%= bookList[i].writerName.toString() %></th>
            </tr>
            <% }%>
            </tbody>
            <% } else {%>
            <tbody>
            <% for(var i = 0; i < bookList.length; i++) {%>
            <tr>
                <th>
                    <% var bookID= bookIDs[i].toString() %>
                    <a href= <%= "/books/"+bookIDs[i].toString() %>> <%= bookList[i].bookname.toString() %></a>
                </th>
                <th><%= bookList[i].writerName.toString() %></th>
            </tr>
            <% } %>
            </tbody>
            <% } %>
        </table>
    </div>
</div>

<script type="text/javascript" src="../public/js/home.js" defer></script>

