<div id="container">
    <h1 id = "profile-title">Profile Page</h1>
    <p></p>
    <a href="/" id = "back">Back to Home Page</a>
    <p hidden id="parse-user-id"><%=userID%></p>
    <p hidden id="parse-user-role"><%=userRole%></p>
    <% if (publication != undefined) {%>
    <br></br>
    <div id="publication-list">
        <p id = "s1">Here is the book you published:</p>
        <table class="100%" id = "book-table">
            <tr>
                <th>Book Name</th>


            </tr>
            <% for(var i = 0; i < publication.length; i++) { %>
            <tr>
                <th>
                    <a href= <%= "/books/"+publication[i].book_id.toString() %>> <%= publication[i].bookname.toString()%></a></th>
                </th>
            </tr>
            <% } %>
        </table>
    </div>
    <%}%>

    <% if (subscription!= null){%>
    <p>Here is the book you subscribed.</p>

    <table class="100%" id = "subscribed-book-table">
        <tr>
            <th>Book Name</th>


        </tr>
        <% for(var i = 0; i < subscription.length; i++) { %>
        <tr>
            <th>
                <a href= <%= "/books/"+subscription[i].bookId.toString() %>> <%= subscription[i].bookname.toString()%></a></th>
            </th>
        </tr>
        <% } %>
    </table>

    <%}%>
</div>

<link href="../public/css/profile.css" rel="stylesheet" type="text/css">

