
<script type="text/javascript" src="../../public/js/publish.js" defer></script>
<link href="../../public/css/uploadNewChapter.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../public/js/uploadNewChapter.js" defer></script>



<% if (user != null) { %>

<p hidden id="parse-user"><%= (user.role).toString() %></p>

<p hidden id="parse-user-id"><%= (user._id).toString() %></p>

<% } %>


<div id = "banner">
    <h1 id = "webtitle">Forever Read</h1>
    <p id = "webdes">Write, Read, Communicate and Grow, Whenever You Like</p>

    <nav class="navbar navbar-default" id = "nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--clicking 'ForeverRead' go back to home page-->
                <a class="navbar-brand" href="/">Forever Read</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <!--rank method to discussed-->
                    <!--<li><a href="#" onclick="sortBySubscribedNumber()">Rank</a></li>-->
                    <li><a href="/service/showranking">Ranking</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/service/searchBookByGenre/Comedy">Comedy</a></li>
                            <li><a href="/service/searchBookByGenre/Crime">Crime</a></li>
                            <li><a href="/service/searchBookByGenre/Detective">Detective</a></li>
                            <li><a href="/service/searchBookByGenre/Fantasy">Fantasy</a></li>
                            <li><a href="/service/searchBookByGenre/Fiction">Fiction</a></li>
                            <li><a href="/service/searchBookByGenre/Horror">Horror</a></li>
                            <li><a href="/service/searchBookByGenre/Other">Other</a></li>
                            <li><a href="/service/searchBookByGenre/Poetry">Poetry</a></li>
                            <li><a href="/service/searchBookByGenre/Prose">Prose</a></li>
                            <li><a href="/service/searchBookByGenre/Romance">Romance</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/service/searchBookName" method="post">
                    <div class="form-group">
                        <input type="text" name="bookNameSearched" class="form-control typeahead" placeholder="Search bookname">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <% if (user != null) {%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%=user.username%> <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a id="profile-redirect-url" href="/profile" >
                                    Profile
                                </a></li>
                            <% if (user.role == "writer") {%>
                            <li><a id='publish' href='/publish'>Publish</a></li>
                            <%}%>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log Out</a></li>

                        </ul>
                    </li>
                    <%}else {%>
                    <li><a href="/signin">
                            Sign in or Sign up
                        </a></li>
                    <%}%>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div id = "container">

    <span id = "navline">
        <a href=<%="/books/"+bookID%>>Book Page</a>
        <p id = "chapter-title"> > Publish New Chapter </p>
    </span>

    <div id = "all">
        <div class="container">
            <div id="non-empty-alert" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-hide="alert">&times;</button>
                Some field can not be left empty
            </div>
        </div>

        <h3 id = "sentence">Upload a New Chapter to Your Book</h3><hr>
        <div id = "edit">
            <form id="chapter-form" action="/service/uploadNewChapter" method="post">
                <table>
                    <tr>
                        <th><h4 for="title">Chapter Title:</h4></th>
                        <th><input class="publish-non-empty" id="chapter-title-input" type="text" name="title"/></th>
                    </tr>
                </table>
                <!--<div>-->
                    <!--<label>Content:</label>-->
                    <!--<textarea type="text" name="chapterContent"/></textarea>-->
                <!--</div>-->
                <h4 id="chapterContent">Chapter Content:</h4>
                <input type="text" hidden name="chapterContent">
                <div id = "editor-container" class = "container"></div>
                <div id = "submit">
                    <input type="hidden" name="bookid" value="<%=bookID%>"/>
                    <input hidden type="text" name="bookid">
                    <input id="new-chapter-submit" type="submit" onclick="return empty()" class="btn btn-primary btn-md" value="Publish the New Chapter!"/>
                </div>
            </form>
        </div>
    </div>
</div>